<a href="https://colab.research.google.com/github/Santy1707/Ejercicios-programacion/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "Pepito perez"
a = a.replace("perez", "lopez")
print(a)

Pepito lopez

In [ ]:
#Estructura condicional#
a = -3
if a > 0:
  print(f"{a} es un numero positivo")
elif a == 0:
  print(f"{a} es considerado neutro, es decir: Ni positivo ni negativo")
else :
  print(f"{a} es un numero negativo")

-3 es un numero negativo

In [ ]:
a = (input("Digite el primer dato \n"))
if ord(a[0]) < 48 or ord(a[0]) > 57:
  print("Debe digitar un valor numerico")
  print(a)
else:
  a = float(a)

b = float(input("Digite el segundo dato \n"))
if a > b:
  print(f"{a} es mayor que {b}")
elif a == b:
  print(f"{a} es igual a {b}")
else:
  print(f"{a} es menor que {b}")

print(type(a),type(b))

Digite el primer dato
5
Digite el primer dato
8
5.0 es menor que 8.0
<class 'float'> <class 'float'>

In [ ]:
n = 0

if n%2 == 0:
  print("El número es par")
else:
  print("El número es impar")

El número es par

In [ ]:
palabra = "hola"
if "a" in palabra:
  print("La letra 'a' esta en la palabra.")

La letra 'a' esta en la palabra.

In [ ]:
x = "a"
y = "a"
if x is y:
  print("x y y apuntan al mismo objetivo.")

x y y apuntan al mismo objetivo.

In [ ]:
numeros = [1, 2, 3, 4, 5]
for i in numeros:
  print(i)

1
2
3
4
5

In [ ]:
palabra = "Pepito Perez"
for i in palabra:
  print(i)

P
e
p
i
t
o

P
e
r
e
z

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range (-5, 2):
  print(i, end=" ")

-5 -4 -3 -2 -1 0 1

In [ ]:
for i in range(-5,2,2):
  print(i, end=" ")

-5 -3 -1 1

In [ ]:
a =[0, 1, 2, 3, 4, 5]
for i, letra in enumerate(a):
  print(f"indice {i}: {letra}")

indice 0: 0
indice 1: 1
indice 2: 2
indice 3: 3
indice 4: 4
indice 5: 5

In [ ]:
for i, letra in enumerate("Python"):
  print(f"indice {i}: {letra}")

indice 0: P
indice 1: y
indice 2: t
indice 3: h
indice 4: o
indice 5: n

In [ ]:
a = 10
while a > 5:
  print("Siempre en este bucle")
  print(a)
  a -= 1

Siempre en este bucle
10
Siempre en este bucle
9
Siempre en este bucle
8
Siempre en este bucle
7
Siempre en este bucle
6

In [ ]:
nombre = "Pepito"
print(nombre[0])
print(nombre[1])
print(nombre[2])
print(nombre[3])
print(nombre[4])
print(nombre[5])

P
e
p
i
t
o

In [ ]:
#Lista
lista = [0, 1, 2, 3]
print(lista)

[0, 1, 2, 3]

In [ ]:
#Lista
lista = [0, 23.5, True, "hola", 4]
print(lista)

[0, 23.5, True, 'hola', 4]

In [ ]:
lista = ["arroz", "maiz", "cereal"]
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[-1])

arroz
maiz
cereal
cereal

In [ ]:
lista = ["arroz", "maiz", "cereal"]
lista[1] = "leche"
print(lista)

['arroz', 'leche', 'cereal']

append siempre agrega en la última posición

remove remueve el valor que nosotros le digamos

In [ ]:
lista = ["arroz", "maiz", "cereal"]
lista.append("leche")
print(lista)

['arroz', 'maiz', 'cereal', 'leche']

In [ ]:
lista = ["arroz", "maiz", "cereal"]
lista.remove("maiz")
print(lista)

['arroz', 'cereal']

desde la posición 2 hasta la 5

In [ ]:
lista = ["arroz", "maiz", "cereal", "leche", "galletas"]
print(lista[2:5])

['cereal', 'leche', 'galletas']

De la posición 2 en adelante

In [ ]:
lista = ["arroz", "maiz", "cereal", "leche", "galletas"]
print(lista[2:])

['cereal', 'leche', 'galletas']

In [ ]:
lista = ["arroz", "maiz", "cereal", "leche", "galletas"]
print(lista[:2])

['arroz', 'maiz']

In [ ]:
a = int(input("Digite el primer dato \n"))
b = int(input("Digite el segundo dato \n"))

primos = []
cont = 0

for number in range(a, (b+1)):
  if number == 1:
    primos.append(number)
  if number!=1:
    for numberi in range():
      print (f"{number}, {numberi}")
      if numberi%number == 0:
        print("el residuo es 1")
        primos.append(number)
print(primos)

Digite el primer dato
1
Digite el segundo dato
10
2, 0
el residuo es 1
2, 1
3, 0
el residuo es 1
3, 1
3, 2
4, 0
el residuo es 1
4, 1
4, 2
4, 3
5, 0
el residuo es 1
5, 1
5, 2
5, 3
5, 4
6, 0
el residuo es 1
6, 1
6, 2
6, 3
6, 4
6, 5
7, 0
el residuo es 1
7, 1
7, 2
7, 3
7, 4
7, 5
7, 6
8, 0
el residuo es 1
8, 1
8, 2
8, 3
8, 4
8, 5
8, 6
8, 7
9, 0
el residuo es 1
9, 1
9, 2
9, 3
9, 4
9, 5
9, 6
9, 7
9, 8
10, 0
el residuo es 1
10, 1
10, 2
10, 3
10, 4
10, 5
10, 6
10, 7
10, 8
10, 9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]